<html>
    <head>
        <title>{{title}}</title>
    </head>
    <script>
    function delete(id){ 
        var xhr = new XMLHttpRequest(); 
        xhr.onreadystatechange = function() { 
            if (this.readyState == 4 && this.status == 200) 
            { 
                location.reload(); 
            }
        }; 
        xhr.open("DELETE", "/api/{{title}}/"+ id, true); 
        xhr.send();
    }
    </script>
    <body>
        <table>
            <tr>
                {{#columns}}
                    <th>{{.}}</th>
                {{/columns}}
            </tr>
            {{#rows}}
                <tr>
                    {{#properties}}
                        <td>{{.}}</td>
                    {{/properties}}
                {{#actions}}
                    <td>
                        <a href="{{link}}" title="{{tooltip}}" {{#events}}{{name}}="javascript:{{function}}({{args}})" {{/events}}>
                            {{#image}}
                                <img src="{{src}}" alt="{{alt}}" />
                            {{/image}}
                        </a>
                    </td>
                {{/actions}}
                </tr>
            {{/rows}}
        </table>
        <form action="./{{title}}/insert">
            <input type="submit" value="Inserir {{title}}" />
        </form>
    </body>
</html>
